Client Emprunteur/Service References/ServiceReference1/ServiceWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service_WCF_Bibliothecaire" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service_WCF_Bibliothecaire" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOuvrage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ouvrage" nillable="true" type="tns:Ouvrage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOuvrage" nillable="true" type="tns:ArrayOfOuvrage" />
  <xs:complexType name="Ouvrage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Auteur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code_barre" type="xs:int" />
      <xs:element minOccurs="0" name="Fiche_descriptive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Statut" type="xs:boolean" />
      <xs:element minOccurs="0" name="Theme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ouvrage" nillable="true" type="tns:Ouvrage" />
</xs:schema>