Client Emprunteur/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60115/ServiceWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60115/ServiceWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60115/ServiceWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service_WCF_Bibliothecaire" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceWCF_Consulter_List_Ouvrage_InputMessage">
    <wsdl:part name="parameters" element="tns:Consulter_List_Ouvrage" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Consulter_List_Ouvrage_OutputMessage">
    <wsdl:part name="parameters" element="tns:Consulter_List_OuvrageResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Reserver_Ouvrage_InputMessage">
    <wsdl:part name="parameters" element="tns:Reserver_Ouvrage" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Reserver_Ouvrage_OutputMessage">
    <wsdl:part name="parameters" element="tns:Reserver_OuvrageResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceWCF">
    <wsdl:operation name="Consulter_List_Ouvrage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/Consulter_List_Ouvrage" message="tns:IServiceWCF_Consulter_List_Ouvrage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/Consulter_List_OuvrageResponse" message="tns:IServiceWCF_Consulter_List_Ouvrage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reserver_Ouvrage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/Reserver_Ouvrage" message="tns:IServiceWCF_Reserver_Ouvrage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/Reserver_OuvrageResponse" message="tns:IServiceWCF_Reserver_Ouvrage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceWCF" type="tns:IServiceWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Consulter_List_Ouvrage">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/Consulter_List_Ouvrage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reserver_Ouvrage">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/Reserver_Ouvrage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IServiceWCF" binding="tns:BasicHttpBinding_IServiceWCF">
      <soap:address location="http://localhost:60115/ServiceWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>