Client Emprunteur/Service References/EmpService/ServiceWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60115/ServiceWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicewcf" />
  <xs:element name="Consulter_List_Ouvrage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Consulter_List_OuvrageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicewcf" minOccurs="0" name="Consulter_List_OuvrageResult" nillable="true" type="q1:ArrayOfOuvrage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reserver_Ouvrage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeEmprunteur" type="xs:int" />
        <xs:element minOccurs="0" name="codeOuvrage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reserver_OuvrageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Reserver_OuvrageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>